{% extends "dealtracker-layout.html" %}

{% block title %}Deal Tracker Home{% endblock %}

{% block menu %}
<a href="{{ url_for('dealtracker.my_accounts') }}">My Accounts</a>
{% endblock %}

{% block content %}
<p><a href="{{ url_for('dealtracker.configure_sponsor') }}">New Sponsor</a></p>

<table class="sortable zebra">
    <thead>
        <tr>
            <th style="min-width:150px;">Name</th>
            <th style="min-width:150px;">Account Owner</th>
            <th style="width:150px;">Sponsor Type</th>
            <th style="width:125px;">Level</th>
            {% if not readonly %}
            <th style="background:white;"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for sponsor in sponsors %}
        <tr style="text-align:center;">
            <td style="text-align:left;"><a href="{{ url_for('dealtracker.sponsor_info', id=sponsor.id) }}">{{ sponsor.name }}</a></td>
            <td>{% if sponsor.current.owner %}{{ sponsor.current.owner_name }}{% endif %}</td>
            <td>{% if sponsor.type.value %}{{ sponsor.type.value }}{% endif %}</td>
            <td>{{ sponsor.level.label }}</td>
            {% if not readonly %}
            <td style="background:white;">
                <a href="javascript:void(0);" onclick="delete_sponsor({{ sponsor.id }})">
                    <img src="{{ url_for('assettracker.static', filename='delete.png') }}"></img>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}
function delete_sponsor(id) {
    var del = confirm("Are you sure you want to delete this sponsor? All data will be lost.");
    if (del != true) {
        return;
    }
    
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", "{{ url_for('dealtracker.delete_sponsor') }}");
    
    var csrfField = document.createElement("input");
    csrfField.setAttribute("type", "hidden");
    csrfField.setAttribute("name", "csrf_token");
    csrfField.setAttribute("value", "{{ csrf_token() }}");
    form.appendChild(csrfField);
    
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "sponsor-id");
    hiddenField.setAttribute("value", id);
    form.appendChild(hiddenField);
    
    document.body.appendChild(form);
    
    form.submit();
}
{% endblock %}