{% extends "dealtracker-layout.html" %}

{% block title %}{{ sponsor.name }}{% endblock %}

{% block css %}
.missing {
    background-color:red;
}

.received {
    background-color:lime;
}

.error {
    color:red;
}

.removable {
    display:none;
}

div.asset a:hover + a.removable, div.asset a.removable:hover {
    display:inline;
}
{% endblock %}

{% block content %}
{% set contract = sponsor.current.contract %}
{% set invoice = sponsor.current.invoice %}

<h1>{{ sponsor.name }}</h1>

<h2 style="display: inline;">Info</h2>
<span><a href="{{ url_for('dealtracker.configure_sponsor', id=sponsor.id) }}">Edit...</a></span>

<p>
    
    <span style="font-weight:bold">Sponsor type</span>: {{ sponsor.type.value or "" }}<br />
    <span style="font-weight:bold">Contact(s)</span>: {{ sponsor.contacts|join('; ', attribute='email') }}<br />
    <span style="font-weight:bold">Home page</span>: {{ sponsor.info.link or ""}}<br />
    <span style="font-weight:bold">Description</span>: {{ sponsor.info.description or "" }}<br />
    <span style="font-weight:bold">Notes</span>: {{ sponsor.notes or ""}}
</p>

{% if sponsor.current.contract or sponsor.current.invoice %}
<h2>Status</h2>
{% include 'sponsor-status.html' %}
{% endif %}

<p>
    {% if sponsor.contract %}
    <span style="font-weight:bold">Contract</span>:  {{ sponsor.contract.date or "" }}<br />
    {% endif %}
    {% if sponsor.invoice %}
    <span style="font-weight:bold">Invoice</span>: {{ sponsor.invoice.date or "" }}<br />
    {% endif %}
</p>

<h2 style="display: inline;">Current Deal</h2>
<span><a href="{{ url_for('dealtracker.edit_current_deal', id=sponsor.id) }}">Edit...</a></span>

<p style="margin-bottom:0px;">
    <span style="font-weight:bold">Account owner</span>: {{ sponsor.current.owner_name or "" }}<br />
    <span style="font-weight:bold">Level</span>: {{ sponsor.level.label or "" }}<br />
    <span style="font-weight:bold">Cash</span>: ${{ sponsor.current.cash }}<br />
    <span style="font-weight:bold">Inkind</span>: ${{ sponsor.current.inkind }}<br />
</p>

<div>
    <span style="font-weight:bold">Contract</span>:
    <form id="contract-sent-form" style="display:inline;" action="{{ url_for('dealtracker.contract_sent', id=sponsor.id) }}" method="POST">
        <input type="checkbox" name="{{ request_id }}" id="contract-sent" {% if contract.sent %}checked{% endif %} {% if not sponsor.current.inkind and not sponsor.current.cash %}disabled{% endif %} />Sent
    </form>
    &nbsp;&nbsp;
    <form id="contract-received-form" style="display:inline;" action="{{ url_for('dealtracker.contract_received', id=sponsor.id) }}" method="POST">
        <input type="checkbox" name="{{ request_id }}" id="contract-received" {% if contract.received %}checked{% elif not contract.sent %}disabled{% endif %} />Received
    </form>
</div>

<div>
    <span style="font-weight:bold">Invoice</span>:
    <form id="invoice-sent-form" style="display:inline;" action="{{ url_for('dealtracker.invoice_sent', id=sponsor.id) }}" method="POST">
        <input type="checkbox" name="{{ request_id }}" id="invoice-sent" {% if invoice.sent %}checked{% endif %} {% if not sponsor.current.inkind and not sponsor.current.cash %}disabled{% endif %} />Sent
    </form>
    &nbsp;&nbsp;
    <form id="invoice-received-form" style="display:inline;" action="{{ url_for('dealtracker.invoice_received', id=sponsor.id) }}" method="POST">
        <input type="checkbox" name="{{ request_id }}" id="invoice-received" {% if invoice.received %}checked{% elif not invoice.sent %}disabled{% endif %} />Received
    </form>
</div>

{% if sponsor.deals[1:] %}
<h2>Previous Deals</h2>
{% for deal in sponsor.deals[1:]|sort(attribute="year", reverse=True) %}
<p>
    <span style="font-weight:bold">Year</span>: {{ deal.year }}<br />
    <span style="font-weight:bold">Account owner</span>: {{ deal.owner_name or "" }}<br />
    <span style="font-weight:bold">Cash</span>: ${{ deal.cash }}<br />
    <span style="font-weight:bold">Inkind</span>: ${{ deal.inkind }}<br />
</p>
{% endfor %}
{% endif %}

{#
{% if sponsor.level %}
<h2>Assets</h2>

{% for type in sponsor.level.assets|sort(attribute="label") %}
<div style="float:left; width:200px;">
    {% if type in sponsor.assets_by_type %} {% set cls="received" %} {% else %} {% set cls="missing" %} {% endif %}
    <p class="{{ cls }}" style="text-align:center; padding-left:5px; padding-right:5px;">{{ type.label }}</p>
    {% for asset in sponsor.assets_by_type[type] %}
    <div class="asset" style="position:relative; left:50px;">
        <a href="{{ asset.url }}" target="_blank"><img src="{{ asset.thumbnail_url }}" alt="{{ asset.name }}"></img></a>
        <a class="removable" href="javascript:void(0);" onclick="delete_asset({{ asset.id }})">
            <img style="vertical-align:top; position:relative; left:-20px;" src="{{ url_for('assettracker.static', filename='delete.png') }}"></img>
        </a>
    </div>
    <br />
    {% endfor %}
</div>

<div style="float:left; width:20px;">&nbsp;</div>
{% endfor %}
{% endif %}
#}

{% endblock %}

{% block js %}
{% set contract = sponsor.current.contract %}
{% set invoice = sponsor.current.invoice %}

function submit_form(id) {
    var form = document.getElementById(id + "-form");
                        
    var csrfField = document.createElement("input");
    csrfField.setAttribute("type", "hidden");
    csrfField.setAttribute("name", "csrf_token");
    csrfField.setAttribute("value", "{{ csrf_token() }}");
    form.appendChild(csrfField);
    
    form.submit();
}

function setup_datepicker(id) {
    var datepicker = new Pikaday({
        field: document.getElementById(id),
        maxDate: new Date(),
        onSelect: function(date) {
            submit_form(id);
        }
    });
    document.getElementById(id).onclick = function() {
        if (!this.checked) {
            datepicker.hide();
            submit_form(id);
        }
    };
    return datepicker;
}

var datepickers = {};
window.addEventListener('load', function() {
    datepickers["contract-sent"] = setup_datepicker("contract-sent");
    datepickers["contract-received"] = setup_datepicker("contract-received");
    {% if contract.sent %}datepickers["contract-received"].setMinDate(new Date('{{ contract.sent.strftime("%Y-%m-%d") }}'));{% endif %}
    
    datepickers["invoice-sent"] = setup_datepicker("invoice-sent");
    datepickers["invoice-received"] = setup_datepicker("invoice-received");
    {% if invoice.sent %}datepickers["invoice-received"].setMinDate(new Date('{{ invoice.sent.strftime("%Y-%m-%d") }}'));{% endif %}
});

{% endblock %}