<table border="1">
    <thead>
        <tr>
            <th style="width: 150px">Contract</th>
            <th style="width: 150px">Invoice</th>
            <th style="width: 150px">Asset Request</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% set request = sponsor.current.contract %}
            {% include "sponsor-status-request.html" %}
            
            {% set request = sponsor.current.invoice %}
            {% include "sponsor-status-request.html" %}
            
            {% set request = sponsor.current.asset_request %}
            {% include "sponsor-status-request.html" %}
        </tr>
    </tbody>
</table>