<div id="{{ level.name }}-section">
    <h2>{{ level.label }}</h2>
    
    {% set modal_prefix = 'download-' ~ level.name %}
    
    <p>
        <a href="#{{ modal_prefix }}-modal">Download {{ level.label }} Assets...</a>
        
        <div id="{{ modal_prefix }}-modal" class="modalDialog">
            <div>
                <h2>Download Options</h2>
                <a href="#close" title="Close" class="close">X</a>
                <a href="{{ url_for('download_all', level=level.name) }}">Download All</level></a><br />
                <a href="{{ url_for('download_logo_cloud', level=level.name) }}">Logo Cloud</a><br />
                <a href="#{{ modal_prefix }}-updates-modal">Website Updates</a>
            </div>
        </div>
    </p>
    
    <p>
        <div id="{{ modal_prefix }}-updates-modal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                
                <p>Please select the first date for which you wish to retrieve website updates:</p>
                
                <div id="{{ modal_prefix }}-datepicker" style="width:258px;"></div>
                <br />
                
                <form id="website-updater" action="{{ url_for('download_website_updates', level=level.name) }}" method="GET">
                    <input type="hidden" id="{{ modal_prefix }}-datepicker-input" name="date" style="display:none;" />
                    <input type="submit" value="Download" />
                </form>
            </div>
        </div>
    </p>
    
    
    {% set asset_types = level.assets %}
    <table id="{{ level.name }}-asset-table" class="sortable zebra">
        <thead>
            <tr>
                <th style="min-width:150px;">Sponsor</th>
                {% for asset_type in asset_types %}
                <th>{{ asset_type.label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for deal in deals %}
            <tr>
                <td><a href="{{ url_for('sponsor_info', id=deal.sponsor.id) }}">{{ deal.sponsor.name }}</a></td>
                {% for asset_type in asset_types %}
                {% if deal.assets_by_type.get(asset_type) %}
                <td style="background-color: #00FF00;">Yes</td>
                {% else %}
                <td style="background-color: #FF0000;">No</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    new Pikaday({
        field: document.getElementById("{{ modal_prefix }}-datepicker-input"),
        bound: false,
        container: document.getElementById("{{ modal_prefix }}-datepicker")
    });
</script>