<h3>{{ level.label }}</h3>

<p>
    <a href="#download{{ level.name }}Modal">Download {{ level.label }} Assets...</a>
    
    <div id="download{{ level.name }}Modal" class="modalDialog">
        <div>
            <h2>Download Options</h2>
            <a href="#close" title="Close" class="close">X</a>
            <a href="{{ url_for('download_all', level=level.name) }}">Download All {{ level.label }}</level></a><br />
            <a href="{{ url_for('download_logo_cloud', level=level.name) }}">{{ level.label }} Logo Cloud</a><br />
        </div>
    </div>
</p>

{% set asset_types = level.assets %}
<table id="{{ level.name }}-asset-table" class="sortable zebra">
    <thead>
        <tr>
            <th style="min-width:150px;">Sponsor</th>
            {% for asset_type in asset_types %}
            <th>{{ asset_type.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for deal in deals %}
        <tr>
            <td><a href="{{ url_for('sponsor_info', id=deal.sponsor.id) }}">{{ deal.sponsor.name }}</a></td>
            {% for asset_type in asset_types %}
            {% if deal.assets_by_type.get(asset_type) %}
            <td style="background-color: #00FF00;">Yes</td>
            {% else %}
            <td style="background-color: #FF0000;">No</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>