{% extends "layout.html" %}

{% block title %}Asset Tracker Home{% endblock %}

{% block appnav %}
<a href="{{ url_for('dealtracker.my_accounts') }}">Deal Tracker</a>
<a href="{{ url_for('assettracker.home') }}">Asset Tracker</a>
{% endblock %}

{% block usernav %}
<a href="{{ url_for('user.change_password') }}">Change Password</a>
<a href="{{ url_for('user.logout') }}">Sign Out</a>
{% endblock %}

{% block content %}
<p>
    <a href="{{ url_for('dealtracker.my_accounts') }}">Deal Tracker</a><br />
    <a href="{{ url_for('assettracker.home') }}">Asset Tracker</a>
</p>
{% endblock %}