{% extends "dealtracker-layout.html" %}

{% block content %}

<div>
    <span style="float:left;">Jump to:&nbsp;&nbsp;</span>
    {% for level in deals_by_level %}
    {% if deals_by_level[level] %}
    <a href="#{{ level.name }}-section">{{ level.label }}</a>
    <span>&nbsp;</span>
    {% endif %}
    {% endfor %}
</div>

<p>
    <a href="#download-modal">Download Assets...</a>

    <div id="download-modal" class="modalDialog">
        <div>
            <h2>Download Options</h2>
            <a href="#close" title="Close" class="close">X</a>
            <a href="{{ url_for('download_all') }}">Download All</a><br />
            <a href="{{ url_for('download_logo_cloud') }}">Logo Cloud</a><br />
            <a href="#download-updates-modal">Website Updates</a>
        </div>
    </div>
</p>

<p>
    <div id="download-updates-modal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            
            <p>Please select the first date for which you wish to retrieve website updates:</p>
            
            <div id="download-datepicker" style="width:258px;"></div>
            <br />
            
            <form id="website-updater" action="{{ url_for('download_website_updates') }}" method="GET">
                <input type="hidden" id="download-datepicker-input" name="date" style="display:none;" />
                <input type="submit" value="Download" />
            </form>
        </div>
    </div>
</p>

<script>
    new Pikaday({
        field: document.getElementById("download-datepicker-input"),
        bound: false,
        container: document.getElementById("download-datepicker"),
        maxDate: new Date()
    });
</script>


{% for level in deals_by_level %}
{% set deals = deals_by_level[level] %}
{% if deals %}
{% include "asset-table.html" %}
{% endif %}
{% endfor %}

{% endblock %}