{% extends "dealtracker-layout.html" %}

{% block content %}

<div>
    <span style="float:left;">Jump to:&nbsp;&nbsp;</span>
    {% for level in deals_by_level %}
    {% if deals_by_level[level] %}
    <a href="#{{ level.name }}-section">{{ level.label }}</a>
    <span>&nbsp;</span>
    {% endif %}
    {% endfor %}
</div>

<p>
    <a href="#downloadModal">Download Assets...</a>

    <div id="downloadModal" class="modalDialog">
        <div>
            <h2>Download Options</h2>
            <a href="#close" title="Close" class="close">X</a>
            <a href="{{ url_for('download_all') }}">Download All</a><br />
            <a href="{{ url_for('download_logo_cloud') }}">Logo Cloud</a><br />
        </div>
    </div>
</p>


{% for level in deals_by_level %}
{% set deals = deals_by_level[level] %}
{% if deals %}
{% include "asset-table.html" %}
{% endif %}
{% endfor %}

{% endblock %}