{% extends "dealtracker-layout.html" %}

{% macro sponsor_nav() %}
<p style="padding-left:450px;">
    {% if pageno != 1 %}
    <a href="{{ url_for('all_deals') }}">First</a> 
    <a href="{{ url_for('all_deals', pageno=pageno-1) }}">Previous</a> 
    {% endif %}
    <strong>Page {{ pageno }}</strong>
    {% if pageno != last_pageno %}
    <a href="{{ url_for('all_deals', pageno=pageno+1) }}">Next</a> 
    <a href="{{ url_for('all_deals', pageno=last_pageno) }}">Last</a>
    {% endif %}
</p>
{% endmacro %}

{% block content %}
<p><a href="{{ url_for('configure_sponsor') }}">New Sponsor</a></p>

{{ sponsor_nav() }}

<table id="sponsor-table" class="sortable zebra">
    <thead>
        <tr>
            <th style="min-width:150px;">Name</th>
            <th style="min-width:150px;">Account Owner</th>
            <th style="width:150px;">Sponsor Type</th>
            <th style="">Deal Level</th>
            <th style="min-width:150px;">Contract Status</th>
            <th style="min-width:150px;">Invoice Status</th>
            <th style="min-width:150px;">Asset Request Status</th>
            <th style="background:white;" class="sorttable_nosort"></th>
        </tr>
    </thead>
    <tbody>
        {% for sponsor in sponsors|sort(attribute="name") %}
        <tr style="text-align:center;">
            <td style="text-align:left;"><a href="{{ url_for('sponsor_info', id=sponsor.id) }}">{{ sponsor.name }}</a></td>
            <td>{% if sponsor.current.owner %}{{ sponsor.current.owner_name }}{% endif %}</td>
            <td>{% if sponsor.type.value %}{{ sponsor.type.value }}{% endif %}</td>
            <td>{% if sponsor.current.level %}{{ sponsor.current.level.label }}{% endif %}</td>
            {% set request=sponsor.current.contract %}
            {% include "sponsor-status-request.html" %}
            {% set request=sponsor.current.invoice %}
            {% include "sponsor-status-request.html" %}
            {% set request=sponsor.current.asset_request %}
            {% include "sponsor-status-request.html" %}
            <td style="background:white;">
                <a href="javascript:void(0);" onclick="delete_sponsor({{ sponsor.id }})">
                    <img src="{{ url_for('static', filename='delete.png') }}"></img>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ sponsor_nav() }}

<!-- Delete sponsor modal -->
<div id="deleteModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <p>Are you sure you want to delete this sponsor? All data will be lost.</p>
        <input type="button" onclick="delete_sponsor_confirmed(document.getElementById('to-delete').value);" value="Yes" />
        <a href="#close"><button>Cancel</button></a>
    </div>
    <input id="to-delete" type="hidden" />
</div>

{% endblock %}

{% block js %}
function delete_sponsor(id) {
    document.getElementById("to-delete").value = id;
    
    var link = document.createElement("a");
    link.setAttribute("href", "#deleteModal");
    link.click();
}

function delete_sponsor_confirmed(id) {
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", "{{ url_for('delete_sponsor') }}");
    
    var csrfField = document.createElement("input");
    csrfField.setAttribute("type", "hidden");
    csrfField.setAttribute("name", "csrf_token");
    csrfField.setAttribute("value", "{{ csrf_token() }}");
    form.appendChild(csrfField);
    
    var sponsorIdField = document.createElement("input");
    sponsorIdField.setAttribute("type", "hidden");
    sponsorIdField.setAttribute("name", "sponsor-id");
    sponsorIdField.setAttribute("value", id);
    form.appendChild(sponsorIdField);
    
    var pageField = document.createElement("input");
    pageField.setAttribute("type", "hidden");
    pageField.setAttribute("name", "pageno");
    pageField.setAttribute("value", {{ pageno }});
    form.appendChild(pageField);
    
    document.body.appendChild(form);
    
    form.submit();
}

{% endblock %}