{% extends "dealtracker-layout.html" %}

{% block title %}{{ sponsor.name }}{% endblock %}

{% block css %}
.missing {
    background-color:red;
}

.received {
    background-color:lime;
}

.error {
    color:red;
}

.removable {
    display:none;
}

div.asset a:hover + a.removable, div.asset a.removable:hover {
    display:inline;
}
{% endblock %}

{% block content %}
{% set contract = sponsor.current.contract %}
{% set invoice = sponsor.current.invoice %}
{% set asset_request = sponsor.current.asset_request %}

<h1>{{ sponsor.name }}</h1>

<h2 style="margin-bottom:0px;">Info</h2>
<div>
    <span><a href="{{ url_for('configure_sponsor', id=sponsor.id) }}">Edit...</a></span>
</div>
<div style="position:relative; left:30px;">
    <p>
        <span style="font-weight:bold">Sponsor type</span>: {{ sponsor.type.value or "" }}<br />
        <span style="font-weight:bold">Contact(s)</span>: {{ sponsor.contacts|join('; ', attribute='email') }}<br />
        <span style="font-weight:bold">Home page</span>: {% if sponsor.link %}<a href="{{ sponsor.link }}" target="_blank">{{ sponsor.link }}</a>{% endif %}<br />
        <span style="display:block; width:500px;"><span style="font-weight:bold">Description</span>: {{ sponsor.description or "" }}</span><br />
        <span style="font-weight:bold">Notes</span>: {{ sponsor.notes or "" }}
    </p>
</div>

<h2>Status</h2>
{% include 'sponsor-status.html' %}

<br />

<h2 style="margin-bottom:0px;">Current Deal</h2>
<div>
    <a href="{{ url_for('edit_current_deal', id=sponsor.id) }}">Edit...</a>
    &nbsp;&nbsp;
    <a href="{{ url_for('manage_assets', id=sponsor.id) }}">Manage Assets...</a>
</div>
<div style="position:relative; left:30px;">
    <p style="margin-bottom:0px;">
        <span style="font-weight:bold">Account owner</span>: {{ sponsor.current.owner_name or "" }}<br />
        <span style="font-weight:bold">Level</span>: {{ sponsor.current.level.label or "" }}<br />
        <span style="font-weight:bold">Cash</span>: ${{ sponsor.current.cash }}<br />
        <span style="font-weight:bold">Inkind</span>: ${{ sponsor.current.inkind }}<br />
    </p>
    
    <div>
        <span style="font-weight:bold">Contract</span>:
        <form id="contract-sent-form" style="display:inline;" action="{{ url_for('contract_sent', id=sponsor.id) }}" method="POST">
            <input type="checkbox" name="{{ request_id }}" id="contract-sent" {% if contract.sent %}checked{% endif %} {% if not sponsor.current.contract.ready %}disabled{% endif %} />Sent
        </form>
        &nbsp;&nbsp;
        <form id="contract-received-form" style="display:inline;" action="{{ url_for('contract_received', id=sponsor.id) }}" method="POST">
            <input type="checkbox" name="{{ request_id }}" id="contract-received" {% if contract.received %}checked{% elif not contract.sent %}disabled{% endif %} />Received
        </form>
    </div>
    
    <div>
        <span style="font-weight:bold">Invoice</span>:
        <form id="invoice-sent-form" style="display:inline;" action="{{ url_for('invoice_sent', id=sponsor.id) }}" method="POST">
            <input type="checkbox" name="{{ request_id }}" id="invoice-sent" {% if invoice.sent %}checked{% endif %} {% if not sponsor.current.invoice.ready %}disabled{% endif %} />Sent
        </form>
        &nbsp;&nbsp;
        <form id="invoice-received-form" style="display:inline;" action="{{ url_for('invoice_received', id=sponsor.id) }}" method="POST">
            <input type="checkbox" name="{{ request_id }}" id="invoice-received" {% if invoice.received %}checked{% elif not invoice.sent %}disabled{% endif %} />Received
        </form>
    </div>
    
    <div>
        <span style="font-weight:bold">Asset Request</span>:
        <form id="asset-request-sent-form" style="display:inline;" action="{{ url_for('asset_request_sent', id=sponsor.id) }}" method="POST">
            <input type="checkbox" name="{{ request_id }}" id="asset-request-sent" {% if asset_request.sent %}checked{% endif %} {% if not sponsor.current.asset_request.ready %}disabled{% endif %} />Sent
        </form>
        &nbsp;&nbsp;
        <form id="asset-request-received-form" style="display:inline;" action="{{ url_for('asset_request_received', id=sponsor.id) }}" method="POST">
            <input type="checkbox" name="{{ request_id }}" id="asset-request-received" {% if asset_request.received %}checked{% elif not asset_request.sent %}disabled{% endif %} />Received
        </form>
    </div>
</div>

{% if sponsor.deals[1:] %}
<h2>Previous Deals</h2>
<div style="position:relative; left:30px;">
    {% for deal in sponsor.deals|sort(attribute="year", reverse=True) %}
    {% if deal.year != sponsor.current.year %}
    <p>
        <span style="font-weight:bold">Year</span>: {{ deal.year }}<br />
        <span style="font-weight:bold">Account owner</span>: {{ deal.owner_name or "" }}<br />
        <span style="font-weight:bold">Cash</span>: ${{ deal.cash }}<br />
        <span style="font-weight:bold">Inkind</span>: ${{ deal.inkind }}<br />
    </p>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block js %}
{% set contract = sponsor.current.contract %}
{% set invoice = sponsor.current.invoice %}
{% set asset_request = sponsor.current.asset_request %}

function submit_form(id) {
    var form = document.getElementById(id + "-form");
                        
    var csrfField = document.createElement("input");
    csrfField.setAttribute("type", "hidden");
    csrfField.setAttribute("name", "csrf_token");
    csrfField.setAttribute("value", "{{ csrf_token() }}");
    form.appendChild(csrfField);
    
    form.submit();
}

function setup_datepicker(id) {
    var datepicker = new Pikaday({
        field: document.getElementById(id),
        maxDate: new Date(),
        onSelect: function(date) {
            submit_form(id);
        }
    });
    document.getElementById(id).onclick = function() {
        if (!this.checked) {
            datepicker.hide();
            submit_form(id);
        }
    };
    return datepicker;
}

var datepickers = {};
window.addEventListener('load', function() {
    datepickers["contract-sent"] = setup_datepicker("contract-sent");
    datepickers["contract-received"] = setup_datepicker("contract-received");
    {% if contract.sent %}datepickers["contract-received"].setMinDate(new Date('{{ contract.sent.strftime("%Y-%m-%d") }}'));{% endif %}
    
    datepickers["invoice-sent"] = setup_datepicker("invoice-sent");
    datepickers["invoice-received"] = setup_datepicker("invoice-received");
    {% if invoice.sent %}datepickers["invoice-received"].setMinDate(new Date('{{ invoice.sent.strftime("%Y-%m-%d") }}'));{% endif %}
    
    datepickers["asset-request-sent"] = setup_datepicker("asset-request-sent");
    datepickers["asset-request-received"] = setup_datepicker("asset-request-received");
    {% if asset_request.sent %}datepickers["asset-request-received"].setMinDate(new Date('{{ asset_request.sent.strftime("%Y-%m-%d") }}'));{% endif %}
});

{% endblock %}