{% extends "layout.html" %}

{% block title %}Asset Tracker Home{% endblock %}

{% block css %}
.missing {
    background-color:red;
}

.received {
    background-color:lime;
}
{% endblock %}

{% block content %}
<table class="sortable zebra" border="0">
    <thead>
        <th style="min-width:150px;">Name</th>
        <th style="width:125px;">Level</th>
        <th style="width:150px;">Last Request</th>
        <th style="width:150px;">Missing Assets</th>
    </thead>
    <tbody>
        {% for sponsor in sponsors|sort(attribute="name") %}
        <tr>
            <td><a href="{{ url_for('assettracker.sponsor_page', id=sponsor.id) }}">{{ sponsor.name }}</a></td>
            <td>{{ sponsor.level.label }}</td>
            <td></td>
            {% if sponsor.missing_assets %}
            <td class="missing">Yes</td>
            {% else %}
            <td class="received">No</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}