{% extends "layout.html" %}

{% block title %}Asset Tracker Home{% endblock %}

{% block css %}
.required {
    background-color:red;
}

.submitted {
    background-color:lime;
}
{% endblock %}

{% block content %}
{% for level in sponsors_by_level %}
{% if sponsors_by_level[level] %}
<h2>{{ level.label }}</h2>
<table border="1">
    <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Level</th>
            <th rowspan="2">Link</th>
            <th rowspan="2">Description</th>
            <th colspan="{{ level.assets|length }}">Required Assets</th>
        </tr>
        <tr>
            {% for type in level.assets %}
            <td>{{ type.label }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sponsor in sponsors_by_level[level]|sort(attribute="name") %}
        <tr>
            <td><a href="{{ url_for('assettracker.upload_asset', id=sponsor.id) }}">{{ sponsor.name }}</a></td>
            <td>{{ sponsor.level.label }}</td>
            <td>{% if sponsor.info.link %}{{ sponsor.info.link }}{% endif %}</td>
            <td>{% if sponsor.info.description %}{{ sponsor.info.description }}{% endif %}</td>
            {% for type in level.assets %}
            {% if type in sponsor.assets_by_type %}
            <td class="submitted">{{ sponsor.asset_type_by_date[type].date }}</td>
            {% else %}
            <td class="required"></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}
{% endblock %}