{% extends "layout.html" %}

{% block title %}Asset Tracker Home{% endblock %}

{% block css %}
.missing {
    background-color:red;
}

.received {
    background-color:lime;
}
{% endblock %}

{% block content %}
<p>
    <a href="#downloadModal">Download...</a>

    <div id="downloadModal" class="modalDialog">
        <div>
            <h2>Download Options</h2>
            <a href="#close" title="Close" class="close">X</a>
            <a href="{{ url_for('assettracker.download_all') }}">Download All</a><br />
            <a href="{{ url_for('assettracker.download_logo_cloud') }}">Logo Cloud</a><br />
            <a href="javascript:void(0);" id="website-updates">Website Updates</a>
            <input type="hidden" id="website-updates-date" name="website-updates-date" />
            <!--
            <input type="text" id="website-updates-test" name="website-updates-test" />
            -->
            <div id="website-updates-calendar"></div>
        </div>
    </div>
</p>

<table class="sortable zebra" border="0">
    <thead>
        <th style="min-width:150px;">Name</th>
        <th style="width:125px;">Level</th>
        <th style="width:150px;">Last Request</th>
        <th style="width:150px;">Missing Assets</th>
    </thead>
    <tbody>
        {% for sponsor in sponsors|sort(attribute="name") %}
        <tr>
            <td><a href="{{ url_for('assettracker.sponsor_page', id=sponsor.id) }}">{{ sponsor.name }}</a></td>
            <td>{{ sponsor.level.label }}</td>
            <td></td>
            {% if sponsor.missing_assets %}
            <td class="missing">Yes</td>
            {% else %}
            <td class="received">No</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
    window.addEventListener('load', function() {
        
        var picker = new Pikaday(
        {
            field: document.getElementById('website-updates-date'),
            trigger: document.getElementById('website-updates'),
            container: document.getElementById('website-updates-calendar'),
            minDate: new Date('{{ min_asset_date.strftime("%Y-%m-%d") }}'),
            yearRange: [{{ min_asset_date.year }}],
            onSelect: function() {
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", "{{ url_for('assettracker.download_website_updates') }}?date=" + document.getElementById('website-updates-date').value, true);
                xmlHttp.send();
                response = xmlHttp.responseText;
                return response;
            }
        });
    }, false);
{% endblock %}