{% extends "assettracker-layout.html" %}

{% block title %}Asset Tracker - Asset Preview{% endblock %}

{% block content %}
<p>
    The provided file did not meet the specifications for use as a {{ type.label }}.
</p>
    
{% with messages = get_flashed_messages(category_filter=["preview"]) %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<p>
    We have automatically corrected the discrepancies to create the image below. If this version is acceptable, please click "Use Preview". Click "Discard Preview" to discard the preview and return to the Upload Asset page.
</p>

<img src="{{ preview }}" />

<form action="{{ url_for('assettracker.preview_asset', id=id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    
    <input type="hidden" name="filename" value="{{ filename }}" />
    <input type="hidden" name="type" value="{{ type.name }}" />
    
    <input type="submit" name="save" value="Use Preview" />
    <input type="submit" name="cancel" value="Discard Preview" />
</form>
{% endblock %}