{% extends "layout.html" %}

{% block title %}Asset Tracker - {{ sponsor.name }}{% endblock %}

{% block css %}
.missing {
    background-color:red;
}

.received {
    background-color:lime;
}

.error {
    color:red;
}

.removable {
    display:none;
}

div.asset a:hover + a.removable, div.asset a.removable:hover {
    display:inline;
}
{% endblock %}

{% block content %}
<h1>{{ sponsor.name }}</h1>
<div><span style="font-weight:bold">Level</span>: {{ sponsor.level.label }}</div>

{% for info in sponsor.INFO_LIST %}
    <span style="display:inline; font-weight:bold">{{ info.label }}</span>:&nbsp;
    <div id="{{ info.id }}_edit" style="display:inline;">
        <span id="{{ info.id }}_value" style="display:inline;">{{ sponsor.info.get(info) or "" }}</span>
    </div>
    
    {% if not readonly %}
        <div id="{{ info.id }}_edit_button" style="display:inline;">
            <a href="javascript:void(0);" onclick="edit('{{ info.id }}');"><img style="display:inline;" src="{{ url_for('assettracker.static', filename='edit.png') }}" /></a>
        </div>
        <form id="{{ info.id }}_form" style="display:inline;" method="POST" action="{{ url_for(info.view_name, id=sponsor.id) }}">
            {% for field in forms[info] %}
                {% if field == forms[info].data_field() %}
                <div id="{{ info.id }}_field" style="display:none;">
                    {{ field(style="display:inline; vertical-align: text-top") }}&nbsp;
                </div>
                {% elif field.type in ("CSRFTokenField", "HiddenField") %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </form>
        
        <div id="{{ info.id }}_field_button" style="display:none;">
            <a href="javascript:void(0);" onclick="save('{{ info.id }}');"><img style="display:inline;" src="{{ url_for('assettracker.static', filename='save.png') }}" /></a>
            <a href="javascript:void(0);" onclick="cancel('{{ info.id }}');"><img style="display:inline;" src="{{ url_for('assettracker.static', filename='cancel.png') }}" /></a>
        </div>
    {% endif %}
    <br />
{% endfor %}

{% for error in errors %}
  <br />{{ error }}
{% endfor %}

<h2>Assets</h2>
<p>
    {% if not readonly %}<a href="{{ url_for('assettracker.upload_asset', id=sponsor.id) }}">Upload Assets</a><br />{% endif %}
    <a href="{{ url_for('assettracker.view_assets', id=sponsor.id) }}">View Assets</a>
</p>

{% for type in sponsor.level.assets|sort(attribute="label") %}
<div style="float:left; width:200px;">
    {% if type in sponsor.assets_by_type %} {% set cls="received" %} {% else %} {% set cls="missing" %} {% endif %}
    <p class="{{ cls }}" style="text-align:center; padding-left:5px; padding-right:5px;">{{ type.label }}</p>
    {% for asset in sponsor.assets_by_type[type] %}
    <div class="asset" style="position:relative; left:50px;">
        <a href="{{ asset.url }}" target="_blank"><img src="{{ asset.thumbnail_url }}" alt="{{ asset.name }}"></img></a>
        <a class="removable" href="javascript:void(0);" onclick="delete_asset({{ asset.id }})">
            <img style="vertical-align:top; position:relative; left:-20px;" src="{{ url_for('assettracker.static', filename='delete.png') }}"></img>
        </a>
    </div>
    <br />
    {% endfor %}
</div>

<div style="float:left; width:20px;">&nbsp;</div>
{% endfor %}

<!--
{#
<table border="1">
    <tbody>
        {% for type in sponsor.level.assets|sort(attribute="label") %}
        <tr>
            <th>{{ type.label }}</th>
            {% if type in sponsor.assets_by_type %}
            <td class="received">{{ sponsor.asset_type_by_date[type].date }}</td>
            {% else %}
            <td class="missing" style="width:150px;"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
#}
-->

{% endblock %}

{% block js %}
{% if not readonly %}
function save(formId) {
    document.getElementById(formId + "_form").submit();
}

function cancel(fieldId) {
    document.getElementById(fieldId + "_field").style.display = "none";
    document.getElementById(fieldId + "_field_button").style.display = "none";
    document.getElementById(fieldId + "_edit").style.display = "inline";
    document.getElementById(fieldId + "_edit_button").style.display = "inline";
}

function edit(fieldId) {
    document.getElementById(fieldId + "_field").style.display = "inline";
    document.getElementById(fieldId + "_field_button").style.display = "inline";
    document.getElementById(fieldId + "_edit").style.display = "none";
    document.getElementById(fieldId + "_edit_button").style.display = "none";
}

function delete_asset(id) {
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", "{{ url_for('assettracker.delete_asset', id=sponsor.id) }}");
    
    var csrfField = document.createElement("input");
    csrfField.setAttribute("type", "hidden");
    csrfField.setAttribute("name", "csrf_token");
    csrfField.setAttribute("value", "{{ csrf_token() }}");
    form.appendChild(csrfField);
    
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "asset-id");
    hiddenField.setAttribute("value", id);
    form.appendChild(hiddenField);
    
    document.body.appendChild(form);
    
    form.submit();
}
{% endif %}
{% endblock %}