{% extends "layout.html" %}

{% block title %}Asset Tracker - {{ sponsor.name }}{% endblock %}

{% block css %}
.missing {
    background-color:red;
}

.received {
    background-color:lime;
}

.error {
    color:red;
}
{% endblock %}

{% block content %}
<h1>{{ sponsor.name }}</h1>
<div><span style="font-weight:bold">Level</span>: {{ sponsor.level.label }}</div>

{% for info in sponsor.INFO_LIST %}
    <span style="display:inline; font-weight:bold">{{ info.label }}</span>:&nbsp;
    <div id="{{ info.id }}_edit" style="display:inline;">
        <span id="{{ info.id }}_value" style="display:inline;">{{ sponsor.info.get(info) or "" }}</span>
    </div>
    
    {% if not readonly %}
        <div id="{{ info.id }}_edit_button" style="display:inline;">
            <a href="javascript:void(0);" onclick="edit('{{ info.id }}');"><img style="display:inline;" src="{{ url_for('assettracker.static', filename='edit.png') }}" /></a>
        </div>
        <form id="{{ info.id }}_form" style="display:inline;" method="POST" action="{{ url_for(info.view_name, id=sponsor.id) }}">
            {% for field in forms[info] %}
                {% if field == forms[info].data_field() %}
                <div id="{{ info.id }}_field" style="display:none;">
                    {{ field(style="display:inline; vertical-align: text-top") }}&nbsp;
                </div>
                {% elif field.type in ("CSRFTokenField", "HiddenField") %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </form>
        
        <div id="{{ info.id }}_field_button" style="display:none;">
            <a href="javascript:void(0);" onclick="save('{{ info.id }}');"><img style="display:inline;" src="{{ url_for('assettracker.static', filename='save.png') }}" /></a>
            <a href="javascript:void(0);" onclick="cancel('{{ info.id }}');"><img style="display:inline;" src="{{ url_for('assettracker.static', filename='cancel.png') }}" /></a>
        </div>
    {% endif %}
    <br />
{% endfor %}

{% for error in errors %}
  <br />{{ error }}
{% endfor %}

<h2>Assets</h2>
<p>
    {% if not readonly %}<a href="{{ url_for('assettracker.upload_asset', id=sponsor.id) }}">Upload Assets</a><br />{% endif %}
    <a href="{{ url_for('assettracker.view_assets', id=sponsor.id) }}">View Assets</a>
</p>
<table border="1">
    <thead>
        <tr>
            {% for type in sponsor.level.assets|sort(attribute="label") %}
            <th>{{ type.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for type in sponsor.level.assets|sort(attribute="label") %}
            {% if type in sponsor.assets_by_type %}
            <td class="received">{{ sponsor.asset_type_by_date[type].date }}</td>
            {% else %}
            <td class="missing" style="height:20px;"></td>
            {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}

{% block js %}
{% if not readonly %}
function save(formId) {
    document.getElementById(formId + "_form").submit();
}

function cancel(fieldId) {
    document.getElementById(fieldId + "_field").style.display = "none";
    document.getElementById(fieldId + "_field_button").style.display = "none";
    document.getElementById(fieldId + "_edit").style.display = "inline";
    document.getElementById(fieldId + "_edit_button").style.display = "inline";
}

function edit(fieldId) {
    document.getElementById(fieldId + "_field").style.display = "inline";
    document.getElementById(fieldId + "_field_button").style.display = "inline";
    document.getElementById(fieldId + "_edit").style.display = "none";
    document.getElementById(fieldId + "_edit_button").style.display = "none";
}
{% endif %}
{% endblock %}